# =========================
# NODE MODULES
# =========================
node_modules/

# =========================
# ENV FILES (SECRET DATA)
# =========================
.env

# =========================
# LOG FILES
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / EDITOR FILES
# =========================
.vscode/
.idea/

# =========================
# TEMP FILES
# =========================
tmp/
temp/

# =========================
# CACHE
# =========================
.cache/

# =========================
# NODE PROCESS FILES
# =========================
pids/
*.pid
*.seed
*.pid.lock

# =========================
# OPTIONAL (if using uploads)
# =========================
uploads/